<div class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-left header-language">
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img alt="English" src="assets/theme/images/en.jpg">English <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownLanguage">
              <li><a href="#"><img alt="English" src="assets/theme/images/en.jpg">English</a></li>
              <li><a href="#"><img alt="French" src="assets/theme/images/fr.jpg">French</a></li>
            </ul>
          </div>
        </div>
        <div class="pull-left">
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" id="dropdownCurrency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USD <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownCurrency">
              <li><a href="#">$ Dollar</a></li>
              <li><a href="#">£ Pound</a></li>
              <li><a href="#">€ Euro</a></li>
            </ul>
          </div>
        </div>
        <div class="pull-left hidden-xs"><a href="#"><i class="fa fa-phone"></i> +123-456-789</a></div>
        <div class="pull-left hidden-xs"><a href="mailto:cs@domain.tld"><i class="fa fa-envelope"></i> cs@domain.tld</a></div>
        <div class="pull-right header-account">
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" id="dropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span><i class="fa fa-user"></i> My Account <i class="fa fa-caret-down"></i></span></a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownAccount">
              <li><a href="#">Orders</a></li>
              <li><a href="#">Vouchers</a></li>
              <li><a href="#">Points</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </div>
        </div>
        <div class="pull-right hidden-xs"><a href="compare.html"><i class="fa fa-align-left"></i> Compare (4)</a></div>
        <div class="pull-right hidden-xs"><a href="wishlist.html"><i class="fa fa-heart"></i> Wishlist (3)</a></div>
      </div>
    </div>
  </div>
</div>