<div class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-left header-language">
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="flag-icon flag-icon-{{header.selectedLanguage.code}} flag-icon-squared"></span> {{header.selectedLanguage.name | titlelize}} <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownLanguage">
              <li ng-repeat="language in header.locals">
                <a href="#" ng-click="header.changeLanguage(language.code) "><span class="flag-icon flag-icon-{{language.code}} flag-icon-squared"></span> {{language.name | titlelize}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="pull-left">
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" id="dropdownCurrency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{header.selectedCurrency.code}} <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownCurrency">
              <li ng-repeat="currency in header.currencies">
                <a href="#" ng-click="header.changeCurrency(currency.code)">{{currency.symbol}} {{currency.name | titlelize}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="pull-left hidden-xs"><a href="#"><i class="fa fa-phone"></i> {{header.phone}}</a></div>
        <div class="pull-left hidden-xs"><a href="mailto:{{header.email}}"><i class="fa fa-envelope"></i> {{header.email}}</a></div>
        <div ng-if="app.user.loggedIn" class="pull-right header-account">
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" id="account-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span><i class="fa fa-user"></i> {{app.user.details.firstname | titlelize}} <i class="fa fa-caret-down"></i></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownAccount">
              <li><a href="#">Orders</a></li>
              <li><a href="#">Vouchers</a></li>
              <li><a href="#">Points</a></li>
              <li><a ng-click="app.logout()" class="btn-logout">Logout</a></li>
            </ul>
          </div>
        </div>
        <div ng-if="!app.user.loggedIn" class="pull-right">
          <a ui-sref="login"><i class="fa fa-sign-in btn-login"></i> <span i18n="login" filter="titlelize"></span></a>
        </div>
        <div class="pull-right hidden-xs"><a href="compare.html"><i class="fa fa-align-left"></i> <span i18n="compare" filter="titlelize"></span></a></div>
        <div class="pull-right hidden-xs"><a href="wishlist.html"><i class="fa fa-heart"></i> <span i18n="wishlist" filter="titlelize"></span></a></div>
      </div>
    </div>
  </div>
</div>